<form action="/volunteers/<%= volunteer.id %>/add-task" method="post">
	<div class="input-group mb-3">
	  <input type="text" class="form-control" name="task" required>
	  <div class="input-group-append">
	    <button type="submit" class="input-group-text btn btn-primary" style="cursor: pointer">AJOUTER UNE TACHE</button>
	  </div>
	</div>
</form>
