<li class="list-group-item" style="border-radius: 0px;">
	<div class="row">
		<div class="col-8">
			<span><%= task.title %></span>
		</div>
		<div class="col-3">
			<span class="text-muted">le <%= task.created_at %></span>
		</div>
		<div class="col-1">
			<a href="/volunteers/<%= volunteer.id %>/tasks/<%= task.id %>/delete" class="close pull-right">
				<span aria-hidden="true">&times;</span>
			</a>
		</div>
	</div>
</li>
