<!doctype html>
<html lang="en">
<head>
	<%- include('include/header', {title: 'Login'}) %>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="text-center">
  <form class="form-signin">
    <h1 class="mb-3 font-weight-normal"><%= code %></h1>
    <p><%= message %></p>
    <hr />
    <p class="mt-5 mb-3 text-muted">&copy; Adei Elevate 2018</p>
  </form>
</body>
</html>
