<!doctype html>
<html lang="en">
<head>
  <%- include('include/header', {title: 'App'}) %>
  <style type="text/css">
    .text-white-50 { color: rgba(255, 255, 255, .5); }
    .bg-blue { background-color: #007bff; }
    .menu-action li {
      padding: 0;
      margin-left: 10px;
      list-style-type: none;
      display: inline-block;
    }
  </style>
</head>

<body class="bg-light">
  <main role="main" class="container">
    <%- include('include/flash', flash) %>
    <div class="row">
      <%- include('include/panel') %>
    </div>
    <div class="row">
      <%- include('include/search', {search: search}) %>
    </div>

    <div class="accordion shadow-sm" id="history-accordion">
      <% volunteers.forEach(volunteer => { %>
        <%- include('include/history/volunteer', {volunteer}) %>
      <% }) %>
    </div>
  </main>

  <%- include('include/footer') %>
  <%- include('include/volunteer/modal-create') %>
</body>
</html>
