<!doctype html>
<html lang="en">
<head>
	<%- include('include/header', {title: 'App'}) %>
  <style type="text/css">
    .text-white-50 { color: rgba(255, 255, 255, .5); }
    .bg-blue { background-color: #007bff; }
    .menu-action li {
      padding: 0;
      margin-left: 10px;
      list-style-type: none;
      display: inline-block;
    }
  </style>
</head>

<body class="bg-light">
  <main role="main" class="container">
    <%- include('include/flash', flash) %>
    <div class="row">
      <%- include('include/panel') %>
    </div>
  	<div class="row">
  		<%- include('include/search', {search: search}) %>
  	</div>
    <% if (volunteers.length > 0) { %>
  	<div class="row">
  		<div class="col">
		    <div class="my-3 p-3 bg-white rounded shadow-sm">
          <% volunteers.forEach(function(volunteer, index) { %>
		        <%- include('include/volunteer/volunteer', {volunteer, index, redirect: 'start'}) %>
          <% }) %>
		    </div>
  		</div>
  	</div>
    <% } %>

    <% if (volunteers.length == 0) { %>
      <div class="row">
        <div class="col text-center">
          <div class="text-muted p-5" style="font-size: 30px">AUCUN VOLONTAIRE.</div>
        </div>
      </div>
    <% } %>
  </main>

  <%- include('include/footer') %>
  <%- include('include/volunteer/modal-create') %>
</body>
</html>
