<!doctype html>
<html lang="en">
<head>
	<%- include('include/header', {title: 'Login'}) %>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="text-center">
  <form class="form-signin" method="post" action="/login">
    <%- include('include/flash', flash) %>
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <label for="email" class="sr-only">Adresse mail</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="password" class="sr-only">Mot de passe</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="remember"> Restez connecter ?
      </label>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Log in</button>
    <hr>
    <div class="text-center"><a href="/register">Inscription ?</a></div>
    <p class="mt-5 mb-3 text-muted">&copy; Adei Elevate 2018</p>
  </form>
</body>
</html>
