<!doctype html>
<html lang="en">
<head>
  <%- include('include/header', {title: 'Register'}) %>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="text-center">
  <form class="form-signin" method="post" action="/register">
    <%- include('include/flash', flash) %>
    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
    <label for="name" class="sr-only">Nom complète</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="Nom complète" required autofocus>
    <label for="email" class="sr-only">Adresse email</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Adresse email" required>
    <label for="password" class="sr-only">Mot de passe</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="accpted"> J'accepte les conditions.</a>
      </label>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Inscription</button>
    <hr>
    <div class="text-center"><a href="/login">Connexion ?</a></div>
    <p class="mt-5 mb-3 text-muted">&copy; Adei Elevate 2018</p>
  </form>
</body>
</html>
