<!doctype html>
<html lang="en">
<head>
  <%- include('include/header', {title: 'Information'}) %>
</head>

<body class="bg-light">
  <main role="main" class="container">
    <%- include('include/flash', flash) %>
    <div class="row">
      <%- include('include/panel') %>
    </div>
    <div class="row">
      <%- include('include/search', {search}) %>
    </div>
    <div class="row">
      <div class="col">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
          <div class="media pt-3 border-bottom">
            <img src="<%= volunteer.avatar %>" alt="<%= volunteer.name.toUpperCase() %>" width="50" height="50" class="mr-2 rounded"/>
            <div class="media-body pb-3 mb-0 border-gray" style="padding-bottom: 0 !important">
              <div class="row">
                <div class="col-7">
                  <strong class="d-block text-gray-dark"><%= volunteer.name.toUpperCase() %></strong>
                  <address><a href="mailto:dakiafranck@gmail.com"><%= volunteer.email %></a></address>
                </div>
                <div class="col-5">
                  <div class="float-right">
                    <a href="/volunteers/<%= volunteer.id %>/delete" class="btn btn-sm btn-danger">Supprimer</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-light" style="padding: 20px">
            <ul class="list-group">
              <% if (tasks.length > 0) { %>
                <% tasks.forEach(task => { %>
                  <%- include('include/task/task', {task}) %>
                <% }) %>
              <% } else { %>
                <div class="text-center text-muted">AUCUNE TACHE AJOUTÉE</div>
              <% } %>
            </ul>
            <br>
            <%- include('include/task/form') %>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('include/footer') %>
  <%- include('include/volunteer/modal-create') %>
</body>
</html>
