<div class="col d-flex p-2 m-3 mt-0 bg-gray rounded">
  <img class="mr-3" src="<%= user.avatar %>" alt="<%= user.name %>" width="48" height="48">
  <div class="lh-100">
    <h6 class="mb-0 lh-100"><%= user.name.toUpperCase() %></h6>
    <small><a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a></small>
  </div>
</div>
<form action="/logout" method="post" id="logout-form"></form>
