<div class="col">
  <a href="/" class="btn m-1 btn-sm btn-primary">Accueil</a>
  <a href="#" class="btn m-1 btn-sm btn-primary" data-toggle="modal" data-target="#create-volunteer">Ajouter un volontaire</a>
</div>
<div class="col text-center">
  <form class="text-center" action="/">
    <div class="input-group mb-3">
        <input type="text" class="form-control" value="<%= search %>" name="search">
        <div class="input-group-append">
          <button type="submit" class="input-group-text">Search</button>
        </div>
    </div>
  </form>
</div>
