<div class="modal fade" id="create-volunteer" tabindex="-1">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un volontaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/volunteers/add" method="post">
          <div class="form-group">
            <label for="name">Nom complète</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nom complète">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Entrer un email">
          </div>
          <hr>
          <div class="text-center">
            <button type="submit" class="btn btn-sm btn-primary">Enregistrer</button>
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Quitter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
