<div class="media pt-3">
  <img src="<%= volunteer.avatar %>" alt="" width="50" height="50" class="mr-2 rounded" />
  <div class="media-body pb-3 mb-0 border-gray" style="padding-bottom: 0 !important">
    <div class="row">
      <div class="col-7">
        <strong class="d-block text-gray-dark"><%= volunteer.name.toUpperCase() %></strong>
        <address><a href="mailto:dakiafranck@gmail.com"><%= volunteer.email %></a></address>
      </div>
      <div class="col-5">
        <div class="float-right" style="color: #fff">
          <a href="/volunteers/<%= volunteer.id %>" class="btn btn-sm btn-primary">Détail</a>
          <a href="/volunteers/<%= volunteer.id %>/delete" class="btn btn-sm btn-danger">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
